<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../css/style.css">
  <title>Document</title>
  <style>
    /*** CSS RESET ***/
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    /*** BODY ***/
    body {
      font-size: 10px;
    }

    .grid-container {
      width: 297mm;
      height: 210mm;

      border: 1px solid #000;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .grid-item-container {
      width: 148.5mm;
      height: 210mm;

      border: 1px solid #000;

      /* display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(31, 1fr); */
    }

    /* .grid-item {
      text-align: center;
      border: 1px solid #000;
    }

    .grid-item-01,
    .grid-item-02 {
      grid-column: 1 / 11;
      border: none;
    } */

    /* .grid-item-03 {
      grid-row: 2 / 3;
    } */
  </style>
</head>

<body>
  <div class="grid-container">
    <div class="grid-item-container grid-container-left">
      <div class="podnosim-sledeci"></div>
      <div class="putni-racun"></div>
      <div class="dnevnica"></div>
      <div class="dan-odlaska"></div>
      <div class="br-cas"></div>
      <div class="br-dnev"></div>
      <div class="prazno-iznad"></div>
      <div class="po-dinara"></div>
      <div class="svega-dinara"></div>
      <div class="dan-povratka"></div>
      <div class="ispod-br-cas"></div>
      <div class="ispod-br-dnev"></div>
      <div class="prazno-ispod"></div>
      <div class="sire-po-dinar"></div>
      <div class="uze-po-dinara"></div>
      <div class="svega-din-sire"></div>
      <div class="svega-din-uze"></div>
      <div class="prazno-ispod-dnev"></div>
      <div class="od"></div>
      <div class="do"></div>
      <div class="vrsta-prevoza"></div>
      <div class="kl"></div>
      <div class="dinara"></div>
      <div class="svega-din-prazno"></div>
      <div class="pranzo-sve"></div>
      <div class="prevozni-tros"></div>
      <div class="od-1"></div>
      <div class="do-1"></div>
      <div class="vrsta-prevoza-1"></div>
      <div class="kl-1"></div>
      <div class="din-sire-1"></div>
      <div class="din-uze-1"></div>
      <div class="od-2"></div>
      <div class="do-2"></div>
      <div class="vrsta-prevoza-2"></div>
      <div class="kl-2"></div>
      <div class="din-sire-2"></div>
      <div class="din-uze-2"></div>
      <div class="od-3"></div>
      <div class="do-3"></div>
      <div class="vrsta-prevoza-3"></div>
      <div class="kl-3"></div>
      <div class="din-sir-3"></div>
      <div class="din-uze-3"></div>
      <div class="od-4"></div>
      <div class="do-4"></div>
      <div class="vrsta-prevoza-4"></div>
      <div class="kl-4"></div>
      <div class="din-sir-4"></div>
      <div class="din-uze-4"></div>
      <div class="od-5"></div>
      <div class="do-5"></div>
      <div class="vrsta-prevoza-5"></div>
      <div class="kl-5"></div>
      <div class="din-sir-5"></div>
      <div class="din-uze-5"></div>
      <div class="od-6"></div>
      <div class="do-6"></div>
      <div class="vrsta-prevoza-6"></div>
      <div class="kl-6"></div>
      <div class="din-sir-6"></div>
      <div class="din-uze-6"></div>
      <div class="od-7"></div>
      <div class="do-7"></div>
      <div class="vrsta-prevoza-7"></div>
      <div class="kl-7"></div>
      <div class="din-sr-7"></div>
      <div class="din-uze-7"></div>
      <div class="od-8"></div>
      <div class="do-8"></div>
      <div class="vrsta-prevoza-8"></div>
      <div class="kl-8"></div>
      <div class="din-sir-8"></div>
      <div class="din-uze-8"></div>
      <div class="ostalo"></div>
      <div class="ostalo-1"></div>
      <div class="din-sir-9"></div>
      <div class="din-uze-9"></div>
      <div class="ostalo-2"></div>
      <div class="ostalo-3"></div>
      <div class="din-sir-10"></div>
      <div class="din-uze-10"></div>
      <div class="din-sir-11"></div>
      <div class="din-uze-11"></div>
      <div class="svega-sire-2"></div>
      <div class="svega-uze-2"></div>
      <div class="svega-sire-3"></div>
      <div class="svega-uze-3"></div>
      <div class="svega-sire-4"></div>
      <div class="svega-uze-4"></div>
      <div class="svega-sire-5"></div>
      <div class="svega-uze-5"></div>
      <div class="svega-sire-6"></div>
      <div class="svega-uze-6"></div>
      <div class="svega-sire-7"></div>
      <div class="svega-uze-7"></div>
      <div class="svega"></div>
      <div class="primljena-akontacija"></div>
      <div class="prazno-svega-akontacija"></div>
      <div class="ostaje-za-isplatu-uplatu"></div>
      <div class="broj-priloga"></div>
      <div class="tackice-podnosilac-racuna"></div>
      <div class="podnosilac-racuna"></div>
      <div class="u-dana"></div>
      <div class="u-dana-ispod"></div>
      <div class="potvrdjujem-da-je-putovanje"></div>
      <div class="prazno-u-dana-ispod"></div>
      <div class="racuna-od-din"></div>
      <div class="tackice-racuna-od-din"></div>
      <div class="slovima"></div>
      <div class="slovima-tackice-l1"></div>
      <div class="na-teret"></div>
      <div class="slovima-tackice-l2"></div>
      <div class="na-teret-tackice"></div>
      <div class="u"></div>
      <div class="u-tackice"></div>
      <div class="dana"></div>
      <div class="dana-tackice"></div>
      <div class="prazno-i1"></div>
      <div class="likvidirao"></div>
      <div class="prazno-i2"></div>
      <div class="rukovodilac-racunovodstva"></div>
      <div class="nalogodavac"></div>
      <div class="prazno-i3"></div>
      <div class="prazno-i4"></div>
      <div class="likvidirao-tackice"></div>
      <div class="rukovodilac-racunovodstva-tackica"></div>
      <div class="prazno-i5"></div>
      <div class="nalogodavac-tackice"></div>
      <div class="prazno-i6"></div>
      <div class="isplatio"></div>
      <div class="naplatio"></div>
      <div class="primio"></div>
      <div class="vratio"></div>
      <div class="din-levo-tackice"></div>
      <div class="din-desno-tackice"></div>
      <div class="prazno-izmedju-din"></div>
      <div class="blagajnik-tackice"></div>
      <div class="blagajnik"></div>
      <div class="podnosilac-racuna-dole-tackice"></div>
      <div class="podnosilac-racuna-dole"></div>
      <div class="prazno-dole-zadnje"></div>
    </div>
    <div class="grid-item-container grid-container-right">
      <!-- <div class="grid-container"> -->
      <div class="pr-01"></div>
      <div class="d-01"></div>
      <div class="d-02"></div>
      <div class="d-03"></div>
      <div class="d-p-03"></div>
      <div class="d-04"></div>
      <div class="d-p-04"></div>
      <div class="pr-02"></div>
      <div class="pr-03"></div>
      <div class="pr-04"></div>
      <div class="d-05"></div>
      <div class="d-06"></div>
      <div class="d-p-06"></div>
      <div class="pr-06"></div>
      <div class="d-07"></div>
      <div class="d-p-07-l1"></div>
      <div class="d-p-07-l2"></div>
      <div class="d-08"></div>
      <div class="d-p-08"></div>
      <div class="d-09"></div>
      <div class="d-p-09-l1"></div>
      <div class="d-p-09-l2"></div>
      <div class="d-10"></div>
      <div class="d-p-10-l1"></div>
      <div class="d-p-10-l2"></div>
      <div class="d-p-10-l3"></div>
      <div class="d-p-10-l4"></div>
      <div class="d-11"></div>
      <div class="d-p-11-l1"></div>
      <div class="d-p-11-l2"></div>
      <div class="pr-07"></div>
      <div class="d-12"></div>
      <div class="d-p-12"></div>
      <div class="d-13"></div>
      <div class="d-p-13"></div>
      <div class="d-14"></div>
      <div class="d-15"></div>
      <div class="d-16"></div>
      <div class="d-17"></div>
      <div class="pr-08"></div>
      <div class="d-p-17-l1"></div>
      <div class="d-p-17-l2"></div>
      <div class="d-p-17-l3"></div>
      <div class="d-p-17-l4"></div>
      <div class="d-18"></div>
      <div class="pr-09"></div>
      <div class="d-p-18"></div>
      <div class="pr-10"></div>
      <div class="d-19"></div>
      <div class="d-20"></div>
      <div class="pr-11"></div>
      <div class="pr-12"></div>
      <div class="pr-13"></div>
      <!-- </div> -->
    </div>
  </div>
</body>

</html>