/**
  * url: https://grid.layoutit.com/
  */

.grid-container-left {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(31, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci podnosim-sledeci pranzo-sve"
    "putni-racun putni-racun putni-racun putni-racun putni-racun putni-racun putni-racun putni-racun putni-racun putni-racun putni-racun pranzo-sve"
    "dnevnica dan-odlaska dan-odlaska br-cas br-dnev prazno-iznad prazno-iznad po-dinara po-dinara svega-dinara svega-dinara pranzo-sve"
    "dnevnica dan-povratka dan-povratka ispod-br-cas ispod-br-dnev prazno-ispod prazno-ispod sire-po-dinar uze-po-dinara svega-din-sire svega-din-uze pranzo-sve"
    "prazno-ispod-dnev od do vrsta-prevoza vrsta-prevoza vrsta-prevoza kl dinara dinara svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-1 do-1 vrsta-prevoza-1 vrsta-prevoza-1 vrsta-prevoza-1 kl-1 din-sire-1 din-uze-1 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-2 do-2 vrsta-prevoza-2 vrsta-prevoza-2 vrsta-prevoza-2 kl-2 din-sire-2 din-uze-2 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-3 do-3 vrsta-prevoza-3 vrsta-prevoza-3 vrsta-prevoza-3 kl-3 din-sir-3 din-uze-3 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-4 do-4 vrsta-prevoza-4 vrsta-prevoza-4 vrsta-prevoza-4 kl-4 din-sir-4 din-uze-4 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-5 do-5 vrsta-prevoza-5 vrsta-prevoza-5 vrsta-prevoza-5 kl-5 din-sir-5 din-uze-5 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-6 do-6 vrsta-prevoza-6 vrsta-prevoza-6 vrsta-prevoza-6 kl-6 din-sir-6 din-uze-6 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-7 do-7 vrsta-prevoza-7 vrsta-prevoza-7 vrsta-prevoza-7 kl-7 din-sr-7 din-uze-7 svega-din-prazno svega-din-prazno pranzo-sve"
    "prevozni-tros od-8 do-8 vrsta-prevoza-8 vrsta-prevoza-8 vrsta-prevoza-8 kl-8 din-sir-8 din-uze-8 svega-din-prazno svega-din-prazno pranzo-sve"
    "ostalo ostalo-1 ostalo-1 ostalo-1 ostalo-1 ostalo-1 ostalo-1 din-sir-9 din-uze-9 svega-sire-2 svega-uze-2 pranzo-sve"
    "ostalo ostalo-2 ostalo-2 ostalo-2 ostalo-2 ostalo-2 ostalo-2 din-sir-10 din-uze-10 svega-sire-3 svega-uze-3 pranzo-sve"
    "ostalo ostalo-3 ostalo-3 ostalo-3 ostalo-3 ostalo-3 ostalo-3 din-sir-11 din-uze-11 svega-sire-4 svega-uze-4 pranzo-sve"
    "prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija svega svega svega-sire-5 svega-uze-5 pranzo-sve"
    "prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija prazno-svega-akontacija primljena-akontacija primljena-akontacija svega-sire-6 svega-uze-6 pranzo-sve"
    "broj-priloga broj-priloga broj-priloga broj-priloga broj-priloga broj-priloga ostaje-za-isplatu-uplatu ostaje-za-isplatu-uplatu ostaje-za-isplatu-uplatu svega-sire-7 svega-uze-7 pranzo-sve"
    "u-dana u-dana u-dana u-dana u-dana tackice-podnosilac-racuna tackice-podnosilac-racuna tackice-podnosilac-racuna tackice-podnosilac-racuna tackice-podnosilac-racuna tackice-podnosilac-racuna pranzo-sve"
    "u-dana-ispod u-dana-ispod u-dana-ispod u-dana-ispod u-dana-ispod podnosilac-racuna podnosilac-racuna podnosilac-racuna podnosilac-racuna podnosilac-racuna podnosilac-racuna pranzo-sve"
    "prazno-u-dana-ispod prazno-u-dana-ispod potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje potvrdjujem-da-je-putovanje pranzo-sve"
    "racuna-od-din racuna-od-din tackice-racuna-od-din tackice-racuna-od-din slovima slovima slovima-tackice-l1 slovima-tackice-l1 slovima-tackice-l1 slovima-tackice-l1 slovima-tackice-l1 pranzo-sve"
    "slovima-tackice-l2 slovima-tackice-l2 slovima-tackice-l2 slovima-tackice-l2 na-teret na-teret na-teret-tackice na-teret-tackice na-teret-tackice na-teret-tackice na-teret-tackice pranzo-sve"
    "u u-tackice u-tackice u-tackice u-tackice u-tackice dana dana-tackice dana-tackice dana-tackice dana-tackice pranzo-sve"
    "prazno-i1 likvidirao prazno-i2 rukovodilac-racunovodstva rukovodilac-racunovodstva rukovodilac-racunovodstva rukovodilac-racunovodstva prazno-i3 nalogodavac nalogodavac prazno-i4 pranzo-sve"
    "likvidirao-tackice likvidirao-tackice prazno-i5 rukovodilac-racunovodstva-tackica rukovodilac-racunovodstva-tackica rukovodilac-racunovodstva-tackica rukovodilac-racunovodstva-tackica prazno-i6 nalogodavac-tackice nalogodavac-tackice nalogodavac-tackice pranzo-sve"
    "isplatio din-levo-tackice din-levo-tackice din-levo-tackice prazno-izmedju-din prazno-izmedju-din prazno-izmedju-din primio din-desno-tackice din-desno-tackice din-desno-tackice pranzo-sve"
    "naplatio din-levo-tackice din-levo-tackice din-levo-tackice prazno-izmedju-din prazno-izmedju-din prazno-izmedju-din vratio din-desno-tackice din-desno-tackice din-desno-tackice pranzo-sve"
    "blagajnik blagajnik blagajnik prazno-dole-zadnje prazno-dole-zadnje prazno-dole-zadnje prazno-dole-zadnje podnosilac-racuna-dole-tackice podnosilac-racuna-dole-tackice podnosilac-racuna-dole-tackice podnosilac-racuna-dole-tackice pranzo-sve"
    "blagajnik-tackice blagajnik-tackice blagajnik-tackice prazno-dole-zadnje prazno-dole-zadnje prazno-dole-zadnje prazno-dole-zadnje podnosilac-racuna-dole podnosilac-racuna-dole podnosilac-racuna-dole podnosilac-racuna-dole pranzo-sve";
}

.grid-container-left > div {
  border: 1px solid #000;
}

.podnosim-sledeci {
  grid-area: podnosim-sledeci;
}

.putni-racun {
  grid-area: putni-racun;
}

.dnevnica {
  grid-area: dnevnica;
}

.dan-odlaska {
  grid-area: dan-odlaska;
}

.br-cas {
  grid-area: br-cas;
}

.br-dnev {
  grid-area: br-dnev;
}

.prazno-iznad {
  grid-area: prazno-iznad;
}

.po-dinara {
  grid-area: po-dinara;
}

.svega-dinara {
  grid-area: svega-dinara;
}

.dan-povratka {
  grid-area: dan-povratka;
}

.ispod-br-cas {
  grid-area: ispod-br-cas;
}

.ispod-br-dnev {
  grid-area: ispod-br-dnev;
}

.prazno-ispod {
  grid-area: prazno-ispod;
}

.sire-po-dinar {
  grid-area: sire-po-dinar;
}

.uze-po-dinara {
  grid-area: uze-po-dinara;
}

.svega-din-sire {
  grid-area: svega-din-sire;
}

.svega-din-uze {
  grid-area: svega-din-uze;
}

.prazno-ispod-dnev {
  grid-area: prazno-ispod-dnev;
}

.od {
  grid-area: od;
}

.do {
  grid-area: do;
}

.vrsta-prevoza {
  grid-area: vrsta-prevoza;
}

.kl {
  grid-area: kl;
}

.dinara {
  grid-area: dinara;
}

.svega-din-prazno {
  grid-area: svega-din-prazno;
}

.pranzo-sve {
  grid-area: pranzo-sve;
}

.prevozni-tros {
  grid-area: prevozni-tros;
}

.od-1 {
  grid-area: od-1;
}

.do-1 {
  grid-area: do-1;
}

.vrsta-prevoza-1 {
  grid-area: vrsta-prevoza-1;
}

.kl-1 {
  grid-area: kl-1;
}

.din-sire-1 {
  grid-area: din-sire-1;
}

.din-uze-1 {
  grid-area: din-uze-1;
}

.od-2 {
  grid-area: od-2;
}

.do-2 {
  grid-area: do-2;
}

.vrsta-prevoza-2 {
  grid-area: vrsta-prevoza-2;
}

.kl-2 {
  grid-area: kl-2;
}

.din-sire-2 {
  grid-area: din-sire-2;
}

.din-uze-2 {
  grid-area: din-uze-2;
}

.od-3 {
  grid-area: od-3;
}

.do-3 {
  grid-area: do-3;
}

.vrsta-prevoza-3 {
  grid-area: vrsta-prevoza-3;
}

.kl-3 {
  grid-area: kl-3;
}

.din-sir-3 {
  grid-area: din-sir-3;
}

.din-uze-3 {
  grid-area: din-uze-3;
}

.od-4 {
  grid-area: od-4;
}

.do-4 {
  grid-area: do-4;
}

.vrsta-prevoza-4 {
  grid-area: vrsta-prevoza-4;
}

.kl-4 {
  grid-area: kl-4;
}

.din-sir-4 {
  grid-area: din-sir-4;
}

.din-uze-4 {
  grid-area: din-uze-4;
}

.od-5 {
  grid-area: od-5;
}

.do-5 {
  grid-area: do-5;
}

.vrsta-prevoza-5 {
  grid-area: vrsta-prevoza-5;
}

.kl-5 {
  grid-area: kl-5;
}

.din-sir-5 {
  grid-area: din-sir-5;
}

.din-uze-5 {
  grid-area: din-uze-5;
}

.od-6 {
  grid-area: od-6;
}

.do-6 {
  grid-area: do-6;
}

.vrsta-prevoza-6 {
  grid-area: vrsta-prevoza-6;
}

.kl-6 {
  grid-area: kl-6;
}

.din-sir-6 {
  grid-area: din-sir-6;
}

.din-uze-6 {
  grid-area: din-uze-6;
}

.od-7 {
  grid-area: od-7;
}

.do-7 {
  grid-area: do-7;
}

.vrsta-prevoza-7 {
  grid-area: vrsta-prevoza-7;
}

.kl-7 {
  grid-area: kl-7;
}

.din-sr-7 {
  grid-area: din-sr-7;
}

.din-uze-7 {
  grid-area: din-uze-7;
}

.od-8 {
  grid-area: od-8;
}

.do-8 {
  grid-area: do-8;
}

.vrsta-prevoza-8 {
  grid-area: vrsta-prevoza-8;
}

.kl-8 {
  grid-area: kl-8;
}

.din-sir-8 {
  grid-area: din-sir-8;
}

.din-uze-8 {
  grid-area: din-uze-8;
}

.ostalo {
  grid-area: ostalo;
}

.ostalo-1 {
  grid-area: ostalo-1;
}

.din-sir-9 {
  grid-area: din-sir-9;
}

.din-uze-9 {
  grid-area: din-uze-9;
}

.ostalo-2 {
  grid-area: ostalo-2;
}

.ostalo-3 {
  grid-area: ostalo-3;
}

.din-sir-10 {
  grid-area: din-sir-10;
}

.din-uze-10 {
  grid-area: din-uze-10;
}

.din-sir-11 {
  grid-area: din-sir-11;
}

.din-uze-11 {
  grid-area: din-uze-11;
}

.svega-sire-2 {
  grid-area: svega-sire-2;
}

.svega-uze-2 {
  grid-area: svega-uze-2;
}

.svega-sire-3 {
  grid-area: svega-sire-3;
}

.svega-uze-3 {
  grid-area: svega-uze-3;
}

.svega-sire-4 {
  grid-area: svega-sire-4;
}

.svega-uze-4 {
  grid-area: svega-uze-4;
}

.svega-sire-5 {
  grid-area: svega-sire-5;
}

.svega-uze-5 {
  grid-area: svega-uze-5;
}

.svega-sire-6 {
  grid-area: svega-sire-6;
}

.svega-uze-6 {
  grid-area: svega-uze-6;
}

.svega-sire-7 {
  grid-area: svega-sire-7;
}

.svega-uze-7 {
  grid-area: svega-uze-7;
}

.svega {
  grid-area: svega;
}

.primljena-akontacija {
  grid-area: primljena-akontacija;
}

.prazno-svega-akontacija {
  grid-area: prazno-svega-akontacija;
}

.ostaje-za-isplatu-uplatu {
  grid-area: ostaje-za-isplatu-uplatu;
}

.broj-priloga {
  grid-area: broj-priloga;
}

.tackice-podnosilac-racuna {
  grid-area: tackice-podnosilac-racuna;
}

.podnosilac-racuna {
  grid-area: podnosilac-racuna;
}

.u-dana {
  grid-area: u-dana;
}

.u-dana-ispod {
  grid-area: u-dana-ispod;
}

.potvrdjujem-da-je-putovanje {
  grid-area: potvrdjujem-da-je-putovanje;
}

.prazno-u-dana-ispod {
  grid-area: prazno-u-dana-ispod;
}

.racuna-od-din {
  grid-area: racuna-od-din;
}

.tackice-racuna-od-din {
  grid-area: tackice-racuna-od-din;
}

.slovima {
  grid-area: slovima;
}

.slovima-tackice-l1 {
  grid-area: slovima-tackice-l1;
}

.na-teret {
  grid-area: na-teret;
}

.slovima-tackice-l2 {
  grid-area: slovima-tackice-l2;
}

.na-teret-tackice {
  grid-area: na-teret-tackice;
}

.u {
  grid-area: u;
}

.u-tackice {
  grid-area: u-tackice;
}

.dana {
  grid-area: dana;
}

.dana-tackice {
  grid-area: dana-tackice;
}

.prazno-i1 {
  grid-area: prazno-i1;
}

.likvidirao {
  grid-area: likvidirao;
}

.prazno-i2 {
  grid-area: prazno-i2;
}

.rukovodilac-racunovodstva {
  grid-area: rukovodilac-racunovodstva;
}

.nalogodavac {
  grid-area: nalogodavac;
}

.prazno-i3 {
  grid-area: prazno-i3;
}

.prazno-i4 {
  grid-area: prazno-i4;
}

.likvidirao-tackice {
  grid-area: likvidirao-tackice;
}

.rukovodilac-racunovodstva-tackica {
  grid-area: rukovodilac-racunovodstva-tackica;
}

.prazno-i5 {
  grid-area: prazno-i5;
}

.nalogodavac-tackice {
  grid-area: nalogodavac-tackice;
}

.prazno-i6 {
  grid-area: prazno-i6;
}

.isplatio {
  grid-area: isplatio;
}

.naplatio {
  grid-area: naplatio;
}

.primio {
  grid-area: primio;
}

.vratio {
  grid-area: vratio;
}

.din-levo-tackice {
  grid-area: din-levo-tackice;
}

.din-desno-tackice {
  grid-area: din-desno-tackice;
}

.prazno-izmedju-din {
  grid-area: prazno-izmedju-din;
}

.blagajnik-tackice {
  grid-area: blagajnik-tackice;
}

.blagajnik {
  grid-area: blagajnik;
}

.podnosilac-racuna-dole-tackice {
  grid-area: podnosilac-racuna-dole-tackice;
}

.podnosilac-racuna-dole {
  grid-area: podnosilac-racuna-dole;
}

.prazno-dole-zadnje {
  grid-area: prazno-dole-zadnje;
}
