/*** CSS RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GLOBAL STYLES ***/
body {
  background-color: rgb(236, 224, 215);
  font-family: "Calibri";
  font-size: x-small;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* PRINT STYLE */
@media print {
  header {
    display: none;
  }
}

/* @media print {
  header,
  footer,
  form,
  button {
    display: none;
  }
} */

/*** NAVBAR ***/
navbar {
  display: flex;
  justify-content: center;
}

/*** SECTIONS ***/

/*** INPUT SECTION ***/
.input-component {
  display: flex;
}
